*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px;
    padding: 3px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    font-weight: bold;
}
.container{
    background-color: #fff;
    border-radius: 8px;
    padding: 2rem;
    min-height: 40vh;
}
form select,button,input{
    font-size: 1rem;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    border: 1px solid lightgray;
    padding: 0.5rem;
    height: 1rem;
}
.dropdown{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 2rem;
}
.dropdown i{
    cursor: pointer;
    margin: 1em;
    margin-bottom: 0;
}
.select-container img{
 max-width: 2rem;  

}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
}
.select-container select{
    font-size: 1rem;
    width: auto;
}
.msg{
    margin: 2rem 0 2rem 0;
}
form button{
    height: 3rem;
    background-color: rgb(188, 60, 188);
    color: white;
    cursor: pointer;
}
#table img{
    width: 100px;
}
#table th,#table td{
    border: 1px solid #ddd;
    padding: 8px;
}
#table tbody:nth-child(even){
    background-color: #b1afaf;
}
#table tbody:hover{
    background-color:#e9f4fb ;
}
#table th{
    font-size: 20px;
    text-align: left;
    background-color: red;
    color: white;
}
#table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse:collapse;
    border: 2px solid black;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.details{
    overflow-y: scroll;
    height: 90vh;
}